* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #495057;
}

.welcomeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 30px;
    margin: 100px;
}